body, html {
    height: 100vh;
}

.singleChar {
    font-size: 9vw;
}

.bg-font {
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.2;
}


.half {
    width: 100%;
    height: 50vh !important;
}

.alt {
    background-color: #777;
    height: 100%;
    display: inline-block;
    color: #AAA;
}

.word {
    font-weight: bold;
    font-size: 15vw;
    opacity: 0.6;
}

.upper {
    position: fixed;
    top:10%;
}

.lower {
    position: fixed;
    bottom: 10%;
}

.bgImg {
    position: fixed;
    bottom: 0;
    right: 0;
}

.bgImg img{
    opacity: 0.4;
    max-width: 100%;
}

.messageBox {
    font-size: 200%;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 2px 2px 5px #111;
}

@media screen and (max-width: 800px) {
    .word {
        font-size: 25vw;
    }
    .lower {
        top: 20%;
    }
    .messageBox {
        align-items: center !important;
        font-size: 300%;
    }
}
